{% extends "bootstrap/base.html" %}

{% block title %}433Mhz{% endblock %}
{% block styles %}
<style>
    .button-data {
        height: auto;
        max-height: 400px;
        overflow: auto;
    }
</style>
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <h1>433Mhz</h1>
    <hr / >
    <div class="button-data">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Button ID</th>
                    <th>Code</th>
                    <th>Delay</th>
                    <th>Name</th>
                </tr>
                <tbody id="DataBody">
                </tbody>
            </thead>
        </table>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <button id="AddBtn" class="btn btn-lg btn-success" data-loading-text="Awaiting Signal...">
                <span class="glyphicon glyphicon-plus"></span>    Add Button
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="{{url_for('static', filename='433Mhz.js')}}"></script>
{% endblock %}
